{% extends 'main/base.html' %}

{% block title %} Home {{ block.super }}{% endblock title %}

{% block main_content %}

<div class="container">
  <p>Today is {{ today }}</p>
  <p>{{ app_name }}</p>
  <h2>Out todos</h2>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Done</th>
        <th scope="col">Due Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        <th>{{ forloop.counter }}</th>
        {% comment %}<th scope="row"><a href="{% url 'todo_update' todo_id=todo.pk %}">{{ todo.title }}</a></th>{% endcomment %}
        <th scope="row"><a href="{% url 'todo_update' pk=todo.pk %}">{{ todo.title }}</a></th>
        <td>{{ todo.description | truncatewords:5 }}</td>
        <td>{{ todo.done | yesno:'Yes,NO' }}</td>
        <td>{{ todo.due_date }}</td>
        {% comment %}<td><a class='btn btn-info' href="{% url 'todo_detail' todo_id=todo.pk %}">Show</a></td>{% endcomment %}
        <td><a class='btn btn-info' href="{% url 'todo_detail' pk=todo.pk %}">Show</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock main_content %}